version: "3"
services:
  db:
    image: mysql:latest  
    ports:
      - "3306:3306"  
    environment:
      - MYSQL_ROOT_PASSWORD=bc9PIO?#;-asj  
      - MYSQL_DATABASE=talent       
      - MYSQL_PASSWORD=BJOAN?#;-asj      
    
    volumes:
      - mysql-data:/var/lib/mysql
volumes:
  mysql-data: {}
